@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@theme {
  --animate-float: float 4s ease-in-out infinite;
  --animate-float-slow: float 6s ease-in-out infinite;
  --animate-float-fast: float 3s ease-in-out infinite;

  @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
  }
}